/* Pie de pagina y final */
/* The CSS code for the footer. */
footer {
  padding: 50px 0;
  background: #009688;
  border-top: solid 4px #ffe711bd;
  color: white;
    a {
    color: #fff;
    text-decoration: none;
      &:hover {
              opacity: 1;
              color: $hoverColor;
            }
    }
    h3 {
      margin-top: 0;
      margin-bottom: 12px;
      font-weight: bold;
      font-size: 16px;
    }
    ul {
      padding: 0;
      list-style: none;
      line-height: 1.6;
      font-size: 14px;
      margin-bottom: 0;
          a {   
            opacity: 0.8;
          }
    }
    .barra-subscriptions {
      align-items: center;
      width: 100%;
      border: 0.1rem solid #000000;
      padding: 0.4rem;
      margin-bottom: 1rem;
      border-radius: 0.5rem;
    }
    .item.social {
      text-align: right;   
    }
    .item.social > a {
            font-size: 30px;
            width: 30px;
            height: 40px;
            line-height: 40px;
            display: inline-block;
            text-align: center;
            border-radius: 50%;
            margin-left: 10px;
            margin-top: 22px;
            color: inherit;
            opacity: 0.75;
                &:hover {
                  opacity: 0.9;
                }
          }
    .copyright {
      margin-top: 14px;
      margin-bottom: 0;
      font-size: 13px;
      opacity: 0.6;
    }
}

/* Empiezan los Media por resolución */

@media screen and (min-width: 480px) {
  footer .item {
  text-align: center;
  padding-bottom: 20px;
}
footer .item.social > a {
  margin-top: 10px;
}
footer .item.social {
  text-align: center;
}}

