/* Defining the variables. */

$hoverColor: #ffffff;
$textcarta: #ffffff;
$carta1: #39816bce;
$carta2: #809411cb;
$border: 0.1rem solid;
$borderRadius: 1rem;
$shadow: 0.4rem 0.4rem 1rem #000000;
$bordercuadrado: solid 2px #667080;



